.main-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--galleryBgColor);
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.gallery-title {
    width: 100%;
    margin: 1rem;
    color: var(--fontColor);
    border-bottom: 2px solid var(--fontColor);
}