.users-table {
    margin: 0 auto 1rem;
    width: 100%;

    th,
    td {
        width: min(50px, 200px);
        padding: 4px;
        text-align: center;
        border: 1px solid var(--cardBackground);
    }
    .user-avatar{
        height: 75px;
        width: 75px;
        object-fit: cover;
    }
}