:root {
  --priceFontColor: #BEEE11;
  --priceBackground: #4C6B22;
  --cardBackground: #434953;
  --buttonColor: #DFE3E6;
  --greyColor: #67707B;
  --navColor: #171D25;
  --fontColor: #DCDEDF;
  --footerColor: #171A21;
  --backGroundColor: #0E1014;
  --galleryBgColor: #1b2838;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
#root{
  display: flex;
  flex-direction: column;
  background-color: var(--backGroundColor);
  align-items: center;
  width: 100vw;
  .main-header{
    width: 100%;
    background-color: var(--navColor);
  }
  .main-container{
    text-align: center;
    width: min(100%, 1280px);  
    flex: 1;
  }
  .footer-container{
    width: 100%;
  }
}
.underline {
  border-bottom: 1px solid var(--fontColor);
}
.mb-16{
  margin-bottom: 1rem;
}